---
// src/pages/contact.astro
import ContactForm from '../components/ContactForm.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <ContactForm />
  </body>
</html>